data/features/*
data/dev_audio/*
data/dev_audio.zip
data/motions/*
features.tar.gz
data/features.tar.gz
scripts/training/block_placement_ddc2/*.pth
scripts/training/block_selection_new2/*.pth
scripts/training/experiment_name/*
scripts/training/aistpp1/*
data/20210209_motions.zip
data/motions_old/*
data_sample/*
features_sample.tar.gz
scripts/training/aistpp_short/*
data/features_sample.tar.gz
data/features_sample/*
**/*.pyc
scripts/training/aistpp_212/*
scripts/training/aistpp_212_mfcc/*
scripts/training/aistpp_norm_backup/*
scripts/training/aistpp_norm/*
*.npy
data/scaled_features/*
data/scaled_features.tar.gz
data/motion_features.tar.gz
test_data/*
scripts/training/aistpp_fixed/*
